
body {
  background-color: #219ebc;
  background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.steamcardexchange.net%2Findex.php%3Fgamepage-appid-1210230&psig=AOvVaw132qclC9QiasYhClfmuh2Q&ust=1749257198692000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCPjphYPJ240DFQAAAAAdAAAAABAE');
}

#description-container {
  background-color: #344055;
  border: 50px, #003049;
  border-radius: 10px;
  width: 500px;
  height: 500px;
  color: #e9edc9;
}
